:root {
  /* colors */
  --color-primary: #043a53;
  --color-primary-a: #3a7185;
  --color-primary-b: #54575e;
  --color-secondary: #fdbc29;
  --color-third: #F0B73F;
  --color-white: #FFF;
  --color-black: #000;
  --color-bg-base: #f1f5f6;
  --color-bg-light: #f2f5f6;
  --color-border-light: #f2f5f6;
  --color-bg-white: #FFF;
  --color-button-bg-base: #043a53;
  --color-button-text-base: #043a53;
  --color-button-bg-white: #FFF;
  --color-button-text-white: #FFF;
  --color-button-bg-transparent: transparent;
  --color-base: #12141d;
  --color-box-shadow: #043a533d;
  --color-box-shadow-dark: #00000014;
  --color-box-shadow-hover: #043A5312;
  --color-menu-bg: #ededed;
  --color-text-base: #404040;
  --color-highlighten-02: #92a7b0;
  --color-pager: #92a7b0;
  --color-pager-active: #043A53;

  /* spacing */
  --mx-auto: auto;
  --margin-base: 0.5rem;
  --gap-base: 0.625rem;
  --gap-double: 1.5rem;
  --gap-extra: 2rem;
  --mr-super: 9.375rem;
  --px-base: 0 1.25rem;
  --px-medium: 0 1.4rem;
  --px-minor: 0 0.5rem;
  --py-base: 1.25rem 0;
  --py-medium: 1.5rem 0;
  --py-double: 2.5rem 0;
  --py-extra: 3.125rem 0;
  --py-super: 6.25rem 0;
  --p-extra: 3rem;
  --py-super-extra: 8rem 0;
  --p-medium: 2rem 1.5rem;
  --p-minor: 1.5rem;
  --mb-medium: 2.125rem;
  --mb-extra: 3.75rem;
  --my-extra: 3.75rem 0;
  --button-base: 1rem 1.5rem;

  /* typograpy */
  --font-size-base: 1rem;
  --font-size-minor: 0.85rem;
  --font-size-small: 0.75rem;
  --font-size-extra: 3.75rem;
  --font-size-medium: 1.5rem;
  --font-size-regular: 1.125rem;  
  --font-size-base-button: 1.125rem;
  --font-size-base-paragraph: 1.125rem;
  --font-size-paragraph-extra: 1.5rem;
  --line-height-base: 1.5;
  --line-height-minor: 1.2;
  --line-height-single: 1;
  --line-height-extra: 1.56;
  --line-height-super: 4.5rem;
  --fw-800: 800;
  --fw-700: 700;
  --font-family-base: "Lato", sans-serif;

  /* layout */
  --width-full: 100%;
  --width-max-container: 71.25rem;
  --width-full-viewport: 100vw;
  --height-full-viewport: 100vh;

  /* radius */
  --radius-full: 100%;
  --radius-base: 1rem;
  --radius-minor: 0.625rem;
  --radius-medium: 2.625rem;
  --radius-big: 3.438rem;
  --radius-half: .5rem;

  /* display */
  --display-block: block;
  --display-flex: flex;
  --flex-wrap: wrap;
  --content-center: center;
  --content-between: space-between;
  --column: column;

  /* misc */
  --cursor-pointer: pointer;
  --clear-both: both;
  --absolute: absolute;
  --relative: relative;
  --none: none;
  --hidden: hidden;
  --visible: visible;
  --auto: auto;
  --transform-origin-default: 0% 0%;
  --z-index-base: 1;
  --z-index-minor: 2;
  --shadow: 0 1.438rem 2.938rem 0 var(--color-box-shadow);
  --shadow-hover: 0 1.438rem 2.938rem 0 var(--color-box-shadow);
}

/* global box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* base typography */
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-base);
  overflow-x: var(--hidden);
}

h1 {
  font-size: calc(var(--font-size-base) * 4);
  font-weight: var(--fw-800);
}

h2 {
  font-size: calc(var(--font-size-base) * 3);
}

h3 {
  font-size: calc(var(--font-size-base) * 2.5);
}

h4 {
  font-size: calc(var(--font-size-base) * 1.5);
}

h5 {
  font-size: calc(var(--font-size-base) * 1.25);
}

p {
  font-size: calc(var(--font-size-base) * 1.25);
}

a {
  color: var(--color-base);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* //end typography */

/* base margin */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p,
li,
iframe,
video,
audio {
  margin-bottom: calc(var(--margin-base) * 2);
}

/* //end base margin */

/* navigation styles */
nav ul {
  display: var(--display-flex);
  flex-wrap: var(--flex-wrap);
}

nav li {
  --margin-base: 0;
  padding: var(--px-medium);
}

nav li a:hover {
  text-shadow: 0 0 0.001rem var(--color-primary);
}

/* //end navigation styles */

/* button styles*/
button,
.button {
  border: 0;
  padding: var(--button-base);
  border-radius: var(--radius-big);
  background-color: var(--color-button-bg-base);
  color: var(--color-button-text-white);
  font-size: var(--font-size-base-button);
  line-height: var(--line-height-extra);
  cursor: var(--cursor-pointer);
  box-shadow: 0 1.438rem 2.938rem 0 var(--color-box-shadow);
  font-weight: var(--fw-700);
  display: inline-flex;
}

button:hover,
.button:hover {
  --color-primary: var(--color-button-text-white);
  text-decoration: none;
}

.button-transparent {
  --color-button-bg-base: var(--color-button-bg-transparent);
  --color-button-text-white: var(--color-button-text-base);
  box-shadow: none;
}

.button-white {
  --color-button-bg-base: var(--color-button-bg-white);
  --color-button-text-white: var(--color-button-text-base);
  box-shadow: none;
}

.button-secondary {
  --color-button-bg-base: var(--color-secondary);
  box-shadow: none;
}

.button-medium {
  --line-height-extra: var(--line-height-single);
}

/* //end button styles*/

img {
  max-width: var(--width-full);
}

/* layout styles */
.container {
  width: var(--width-full);
  max-width: var(--width-max-container);
  margin: var(--mx-auto);
  padding: var(--px-base);
}

.container-fluild {
  margin: var(--mx-auto);
  padding: var(--px-base);
}

.flex {
  display: var(--display-flex);
  flex-wrap: var(--flex-wrap);
  gap: var(--gap-base);
}

.row {
  display: var(--display-flex);
  flex-wrap: var(--flex-wrap);
  margin: 0 -1.25rem;
}

.row>* {
  flex: 0 0 auto;
  flex-shrink: 0;
  width: var(--width-full);
  max-width: var(--width-full);
  padding: var(--px-base);
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666667%;
}

.col-12 {
  width: var(--width-full);
}

@media (min-width: 768px) {
  .col-md-auto {
    width: auto;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: var(--width-full);
  }
}

@media (min-width: 992px) {
  .col-lg-auto {
    width: auto;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-12 {
    width: var(--width-full);
  }
}

/* end layout styles */

/* utility styles */
.list-style-none {
  list-style-type: var(--none);
}

.clearfix::after {
  display: var(--display-block);
  clear: var(--clear-both);
  content: "";
}

.hidden {
  display: var(--none);
}

.block {
  display: var(--display-block);
}

.display-flex {
  display: var(--display-flex);
}

.text-center {
  text-align: var(--content-center);
}

.justify-content-center {
  justify-content: var(--content-center);
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: var(--content-between);
}

.align-items-center {
  align-items: var(--content-center);
}

.mt-0 {
  margin-top: 0;
}

.my-0 {
  margin: 0;
}

.my-extra {
  margin: var(--my-extra) 0;
}

.mt-auto {
  margin-top: var(--auto);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-2 {
  padding: 2rem;
}

.px-0 {
  padding: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.gap-base {
  gap: var(--gap-base);
}

.gap-extra {
  gap: var(--gap-extra);
}

.mr-super {
  margin-right: var(--mr-super);
}

.px-base {
  padding: var(--px-base);
}

.px-medium {
  padding: var(--px-medium);
}

.py-base {
  padding: var(--py-base);
}

.py-double {
  padding: var(--py-double);
}

.py-medium {
  padding: var(--py-medium);
}

.py-extra {
  padding: var(--py-extra);
}

.py-super {
  padding: var(--py-super);
}

.mx-auto {
  margin: var(--mx-auto);
}

.ml-auto {
  margin-left: var(--mx-auto);
}

.mr-auto {
  margin-right: var(--mx-auto);
}

.shadow {
  box-shadow: var(--shadow);
}

.shadow-none {
  box-shadow: var(--none);
}

.button-radius-base {
  border-radius: var(--radius-base);
}

.button-radius-medium {
  border-radius: var(--radius-medium);
}

.radius-half {
  border-radius: var(--radius-half);
}

.border-light {
  border: solid 1px var(--color-border-light);
}

.desktop-only {
  display: var(--none);
}

.mobile-only {
  display: var(--none);
}

.position-relative {
  position: var(--relative);
}

.position-absolute {
  position: var(--absolute);
}

.spacing-none {
  padding: 0;
  margin: 0;
}

.width-full-viewport {
  width: var(--width-full-viewport);
}

.height-full-viewport {
  height: var(--height-full-viewport);
}

.flex-column {
  flex-direction: var(--column);
}

.visiblity-hidden {
  visibility: var(--hidden);
}

.highlighten {
  color: var(--color-secondary);
}

.highlighten-02 {
  color: var(--color-highlighten-02);
}

.heading-extra {
  font-size: var(--font-size-extra);
}

.heading-medium {
  font-size: var(--font-size-medium);
}

.heading-small {
  font-size: var(--font-size-base);
}

.h-full {
  height: 100%;
}

.p-medium {
  padding: var(--p-medium);
}

.p-minor {
  padding: var(--p-minor);
}

.mb-medium {
  padding-bottom: var(--mb-medium);
}

.mb-extra {
  padding-bottom: var(--mb-extra);
}

.line-height-single {
  line-height: var(--line-height-single);
}

.line-height-super {
  line-height: var(--line-height-super);
}

.text-white {
  color: var(--color-white);
}

.align-self-center {
  align-self: var(--content-center);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.bg-light {
  background-color: var(--color-bg-light);
}

.bg-white {
  background-color: var(--color-bg-white);
}

.bg-base {
  background-color: var(--color-bg-base);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-base);
}

.radius-base {
  border-radius: var(--radius-base);
}

.color-text-base {
  color: var(--color-text-base);
}

.paragraph-base {
  font-size: var(--font-size-base);
}

.paragraph-medium {
  font-size: var(--font-size-base-paragraph);
}

.paragraph-extra {
  font-size: var(--font-size-paragraph-extra);
}

.paragraph-small {
  font-size: var(--font-size-small);
}

.radius-full {
  border-radius: var(--radius-full);
}

.heading-color-primary {
  color: var(--color-primary);
}

#pagination li {
  padding: 0 0.313rem;
}

#pagination a {
  height: 0.75rem;
  border-radius: var(--radius-minor);
  display: var(--display-flex);
  font-size: 0;
}

#pagination a:not(.active) {
  background-color: var(--color-pager);
  width: 1.25rem;
}

#pagination a.active {
  background-color: var(--color-pager-active);
  width: 5rem;
}

/* //end utility styles */

.brand {
  color: var(--color-primary);
}

.card-column {
  max-width: 23.75rem;
}

.hover-card:hover {
  box-shadow: 0 3.125rem 5rem 0 var(--color-box-shadow-hover);
}

.hero-inner h1 {
  line-height: var(--line-height-minor);
}

/* mobile menu */
#menuToggle {
  float: right;
}

#menuToggle input {
  width: 1.75rem;
  height: 1.25rem;
  top: -0.438rem;
  left: -0.313rem;
  opacity: 0;
  cursor: var(--cursor-pointer);
  z-index: var(--z-index-minor);
  -webkit-touch-callout: var(--none);
}

#menuToggle span {
  display: var(--display-block);
  width: 1.5rem;
  height: 0.188rem;
  margin-bottom: 0.188rem;
  position: var(--relative);
  background: var(--color-black);
  z-index: var(--z-index-base);
  transform-origin: 0.25rem 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: var(--transform-origin-default);
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% var(--width-full);
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-0.125rem, -0.063rem);
  background: var(--color-black);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -0.063rem);
}

#menu {
  padding: var(--p-extra);
  overflow-y: var(--auto);
  background: var(--color-menu-bg);
  transform-origin: var(--transform-origin-default);
  -webkit-font-smoothing: antialiased;
  margin: -6.25rem 0 0 -16.25rem;
  max-width: 25rem;
  padding-top: 7.813rem;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  font-size: calc(var(--font-size-base) * 1.25);
}

#menuToggle input:checked~div {
  transform: var(--none);
  --hidden: var(--visible);
}

/* //end mobile menu */

#video-section {
  padding-top: 7.375rem;
}

.video-wrapper {
  margin-top: 3.75rem;
}

.video-play {
  top: 50%;
  left: 50%;
  margin-top: -3.75rem;
  margin-left: -3.75rem;
}

.circle-box {
  width: 14.313rem;
  height: 14.313rem;
  border: solid 0.25rem var(--color-white);
  background-color: var(--color-primary);
  bottom: 3.125rem;
  right: 3.125rem;
}

.box-shadow-dark {
  box-shadow: 0px 0.063rem 0.125rem 0px var(--color-box-shadow-dark);
}

.cta-banner-bg {
  background: var(--color-base) url(../images/decorations.png) no-repeat right bottom;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    padding: var(--py-super-extra);
  }

  .hero-inner {
    max-width: 44.313rem;
  }

  .site-header {
    background-color: var(--color-bg-base);
  }

  #building-bridges h2 {
    margin-bottom: 3.125rem;
  }

  #building-bridges p {
    margin-top: 0;
    margin-bottom: 1.875rem;
  }

  #building-bridges img {
    border-top-right-radius: var(--radius-base);
    border-bottom-right-radius: var(--radius-base);
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: calc(var(--font-size-base) * 2);
  }

  p {
    font-size: var(--font-size-base);
  }

  .hero-inner-content {
    padding: var(--py-double);
  }

  #blogs .heading-extra,
  #cta-banner .heading-extra,
  #video-section .heading-extra,
  #building-bridges .heading-extra,
  #meet-founder .heading-extra,
  #testimonials .heading-extra {
    font-size: 1.875rem;
    line-height: 2.375rem;
  }

  #video-section {
    padding-top: 3.125rem;
  }

  .video-wrapper {
    margin-top: 2rem;
  }

  .video-play {
    margin-top: -1.099rem;
    margin-left: -1.099rem;
    width: 2.199rem;
    height: 2.199rem;
  }

  #benefits {
    padding: 3.125rem 0;
  }

  .benefit-header {
    text-align: var(--content-center);
    padding-bottom: 1rem;
  }

  .benefit-header h2 {
    font-size: 1.875rem;
    margin-bottom: 0;
  }

  .benefit-header .button {
    --font-size-base-button: 0.85rem;
    --button-base: 0.25rem 1rem;
    margin-bottom: 1.5rem;
  }

  #benefits .paragraph-medium {
    font-size: 0.875rem;
  }

  .cards>div {
    margin-bottom: 1rem;
  }

  #building-bridges .row {
    flex-direction: column-reverse;
  }

  .building-bridges-content {
    padding: 2rem;
    text-align: var(--content-center);
  }

  .circle-box {
    width: 9.313rem;
    height: 9.313rem;
    padding: 1.5rem 1rem;
    font-size: 0.875rem;
  }

  .circle-box img {
    width: 2rem;
    height: 2rem;
  }

  .circle-box br {
    display: var(--none);
  }

  .circle-box h4 {
    line-height: var(--line-height-single);
  }

  #numbers .heading-extra {
    --font-size-extra: 2.25rem;
  }

  #numbers .paragraph-extra,
  #meet-founder .paragraph-extra {
    --font-size-paragraph-extra: var(--font-size-base);
  }

  #numbers .row>div {
    margin-bottom: 1.875rem;
  }

  #meet-founder,
  #blogs .heading-extra,
  #cta-banner .heading-extra,
  #testimonials .heading-extra {
    text-align: var(--content-center);
  }

  #meet-founder h5 {
    font-size: var(--font-size-base);
  }

  .tagline {
    --font-size-base: var(--font-size-small);
  }

  #testimonials,
  #blogs {
    --py-super: 3.125rem 0;
  }

  #blogs .mb-extra,
  #testimonials .mb-extra {
    --mb-extra: 1.875rem;
  }

  #pagination {
    padding-top: 1.875rem;
  }

  .column {
    margin-bottom: 1.875rem;
  }

  .mr-super {
    --mr-super: 0;
  }

  #blogs .row {
    justify-content: var(--content-center);
  }

  .paragraph-extra {
    --font-size-paragraph-extra: var(--font-size-base);
  }
  
  .paragraph-medium {
    --font-size-base-paragraph: var(--font-size-base);
  }

  .heading-medium {
    --font-size-medium: var(--font-size-regular);
  }

  .p-minor {
    --p-minor: 1rem;
  }

  .card-column {
    padding-bottom: 1.5rem;
  }

  #cta-banner {
    padding-top: 3.125rem;
    padding-bottom: 0;
    text-align: var(--content-center);
  }

  #cta-banner .mb-extra{
    --mb-extra: 0;
  }

}

@media screen and (max-width: 990px) {
  .mobile-only {
    display: var(--display-block);
  }

  #trusted-brands .row {
    gap: var(--gap-double);
    text-align: var(--content-center);
    font-size: var(--font-size-minor);
  }

  .brand-images {
    gap: var(--gap-double);
  }

  .brand-images,
  #trusted-brands .row,
  #testimonials .row,
  #meet-founder .row {
    justify-content: var(--content-center);
  }

  .posted {
    font-size: var(--font-size-small);
  }

  .cta-banner-bg {
    background-image: none;
  }
}

@media screen and (min-width: 991px) {
  .desktop-only {
    display: var(--display-block);
  }
  #pagination {
    padding-top: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .width-medium {
    width: 16rem;
    margin-right: 1rem;
  }
}